<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMIsApplet</key>
	<true/>
	<key>AMStayOpen</key>
	<false/>
	<key>CFBundleExecutable</key>
	<string>Automator Application Stub</string>
	<key>CFBundleIconFile</key>
	<string>TreeViewer.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.arklumpus.TreeViewer.Launcher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TreeViewer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>@@VersionHere@@</string>
	<key>CFBundleShortVersionString</key>
	<string>@@VersionHere@@</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	
	<key>CFBundleDocumentTypes</key>
    <array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.tbi</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>tbi.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.tre</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>tre.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.tree</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>tree.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.nwk</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>nwk.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.nwka</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>nwka.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.nex</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>nex.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.smap</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>tree.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.arklumpus.TreeViewer.treefile</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>tree.icns</string>
		</dict>
    </array>
	
    <key>UTExportedTypeDeclarations</key>
    <array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.tbi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tbi</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Binary tree file</string>
			<key>UTTypeIconFile</key>
			<string>tbi.icns</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.tre</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tre</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Newick file</string>
			<key>UTTypeIconFile</key>
			<string>tre.icns</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.tree</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tree</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Newick file</string>
			<key>UTTypeIconFile</key>
			<string>tree.icns</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.nwk</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nwk</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Newick file</string>
			<key>UTTypeIconFile</key>
			<string>nwk.icns</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.nwka</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nwka</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Newick file</string>
			<key>UTTypeIconFile</key>
			<string>nwka.icns</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.treefile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>treefile</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Newick file</string>
			<key>UTTypeIconFile</key>
			<string>tree.icns</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.smap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smap</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Newick file</string>
			<key>UTTypeIconFile</key>
			<string>tree.icns</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.arklumpus.TreeViewer.nex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nex</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NEXUS file</string>
			<key>UTTypeIconFile</key>
			<string>nex.icns</string>
		</dict>
    </array>
</dict>
</plist>
